.msg_box
	width 480px
	max-height 50%
	margin-left -240px
	padding 40px 20px 60px
	overflow scroll
	position fixed
	z-index 20
	top 30%
	left 50%
	background-color rgba(0, 0, 0, 0.8)
	color white
	.msg_link
		color #C4A9FF